.home {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-flow: column;

  padding: 0 15rem;
  /* background-color: #fff0f23e; */
}

.home h3 {
  font-size: 2.5rem;
  color: #fff;
}
.home h1 {
  font-size: 5rem;
  color: #fff;
}

.home h1 span {
  color: var(--yellow);
}

.home p {
  font-size: 2rem;
  color: #d8d8d8;
  padding: 1rem 0;
  font-weight: 300;
  line-height: 3rem;
}
.btnAboutMe {
  padding: 1rem 3rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
}

.btnAboutMe:hover {
  background-color: var(--yellow);
  color: #333;
  /* font-weight: 600; */
}

@media (max-width: 1200px) {
  .home {
    padding: 1rem 4rem;
  }
}

@media (max-width: 600px) {
  .home {
    width: 100%;
    padding: 0 2rem;
  }
  .home h1 {
    font-size: 4.5rem;
  }
}
