.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.info {
  /* background-color: #ffc0cb61; */
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}
.info h3 {
  font-size: 2rem;
  color: var(--yellow);
  padding: 1rem 0;
  font-weight: normal;
}
.info h3 span {
  color: #eee;
  padding: 0 0.5rem;
}
.counter {
  flex: 1 1 48rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  width: 20rem;
  background-color: #222;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  border-radius: 12px;
}

.box span {
  font-size: 4rem;
  color: var(--yellow);
}

.box h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
}

@media (max-width: 600px) {
  .heading {
    margin: 0 3rem;
  }
  .box {
    width: 100%;
  }

  .info {
    padding-left: 3rem;
  }
}
